<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="frame_id" value="/base_link" />
    <param name="resolution" value="0.05" />
    
    <param name="max_range" value="10.0" />
    <remap from="cloud_in" to="/camera/depth/points" />
  </node>
</launch>

